.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem;
    
    display: flex;
    align-items: center;

    time, span {
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-400);
    
        svg {
            margin-right: .5rem;
        }
    }
    
    time + span, 
    span + span  {
        margin-left: 1rem
    }
}

